@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", "Noto Serif JP", serif;
  --color-solne-dark: #202D46;
  --color-solne-gold: #DB9D64;
  --color-solne-light: #F6F3F5;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-solne-light);
  color: var(--color-solne-dark);
  font-family: var(--font-serif);
  overflow-x: hidden;
}
